.algorithm, .definition, .problem, .theorem, .proposition, .proof, .supplement, .figure, .example {
    padding: 1em 1em 0 1em;
    border: 1px solid;
    margin-bottom: 1em;
}

.algorithm-heading, .definition, .problem-heading, .theorem-heading, .proposition-heading, .proof-heading, .supplement-heading, .example-heading  {
    font-weight: bold;
    padding-bottom: 0.5em;
}